@import '../../../global/mixin.scss';

.profilePhoto {
  width: 270px;
  height: 270px;
  position: relative;
  bottom: 110px;
  background-color: white;
 

  a{
    display: block;
    border: 10px solid white;
      img{

        width: 100%;
        
      }
  }
}
