@import "../../../../../global/mixin.scss";

.socialButton {
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45px;

    img {
      transition: all 0.9s ease-out;
      &:hover {
        transform: scale(1.1);
      }
    }
    span {
      color: #666666;
    }
  }
}
