.messagesPage {
  width: 1170px;
  height: 70vh;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 35% 65%;
  border: 3px solid #edeef0;
  background-color: white;

  .column {
    // overflow-y: scroll;
    
   
  }
}
